@import "../../../styles/vars.scss";

.text {
    font-size: $font-size;
    margin-bottom: calc(#{$spacing-bace} * 1);
    
    @media (min-width: $break-lg) {
        text-align: justify;
    }
}

.textIntro {
    p {
      &:first-of-type {
          margin-top: calc(#{$spacing-bace} * 2);
      }
    }
}

.blockTitle {
    margin-top: calc(#{$spacing-bace} * 2);
}

.linkTitle {
    margin-top: calc(#{$spacing-bace} * 2);
    margin-bottom: calc(#{$spacing-bace} * 1);
}