@import "../../styles/vars.scss";

.block {
  @extend %page-container;

  grid-template-areas: 'square square textBlock textBlock textBlock textBlock textBlock textBlock textBlock textBlock textBlock textBlock';
  
  @media (max-width: $break-lg) {
    grid-template-areas: 'square square textBlock textBlock textBlock textBlock textBlock textBlock textBlock textBlock textBlock textBlock';
  }
  
  gap: calc(#{$spacing-bace} * 1);

  &.inView {
    animation: slideIn 0.5s forwards;
  }

  &.notInView {
    opacity: 0;
  }

  .squareBlock {
    grid-area: square;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    .square {
      min-width: 4rem;
      min-height: 4rem;

      @media (max-width: $break-lg) {
        min-width: 2rem;
        min-height: 2rem;
      }

      background-color: #E3FDFD;
      transform: rotate(45deg);
    }

    .line {
      height: 100%;
      
      .squareRight {
        border-left: 1px solid lightgray;
        height: 100%;
      }
    }

  }

  .textBlock {
    grid-area: textBlock;
    
    @media (min-width: $break-lg) {
      margin-top: calc(#{$spacing-bace} * 1);
    }
    
    .blockHeader {
      display: flex;
      margin-bottom: calc(#{$spacing-bace} * 1);

      @media (min-width: $break-lg) {
        align-items: center;
      }

      @media (max-width: $break-lg) {
        flex-direction: column;
      }

      .title {
        flex-grow: 1;
      }

      .period {
        font-weight: 100;
      }
    }
  }
}