$break-lg: 1024px;
$spacing-bace: .8rem;
$font-size: 18px;

%page-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
